<.header>
  Editing Product<br> <%= @product.title %> (id:<%= @product.id %>)
  <:subtitle>Use this form to manage product records in your database.</:subtitle>
</.header>

<div class="p-5 bg-white rounded-md pt-5 h-fit">
<p>Photo preview:</p>
<img class="rounded-md" src={@product.photo} alt={@product.title}/>
<.product_form changeset={@changeset} action={~p"/products/#{@product}"} multipart/>
</div>

<.back navigate={~p"/products"}>Back to products</.back>